<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2 category-wrap">
    
    <div class="col-md-12">
      <div class="brand">ACHEI!</div>
    </div>

    <div class="col-md-6 ">
      <div class="category">
        <%= link_to "Achados&Perdidos", category_path("Achados&Perdidos") %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="category">
        <%= link_to "Classificados", category_path("Classificados") %>
      </div>
    </div>
    <!--
    <div class="search col-md-10 col-md-offset-1 ">
      <%= form_tag search_items_path, method:"get", class:"form-inline" do |f| %>
          <div class="input-group col-md-12 no-padding">
            <%= text_field_tag :search, params[:search], class:"input-lg col-md-12 search-input", placeholder: "Buscar Anuncio" %>
          </div>
      <% end %>
    </div>
    -->
  </div>
</div>