<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2 category-wrap">
   <div class="col-md-12">
      <div class="input-group col-md-12">
        <input class="form-control" type="text">
      </div>
    </div>
    <div class="col-md-12 center">
      <h1>Encontre</h1>
    </div>
    <div class="col-md-6 ">
      <div class="category">
        <%= link_to "Achados&Perdidos", category_path("Achados&Perdidos") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category">
        <%= link_to "Classificiados", category_path("Classificados") %>
      </div>
    </div>
    
  </div>
</div>