<div class="page container">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header col-md-12"><h2>Mensagens</h2></div>
    <div id="proposals" class="col-md-12">
    <% @proposals.each do |proposal| %>
    <div class="proposal col-md-12">
    <div class="col-md-2 proposal-item">
      <img src="http://placehold.it/50x50" class="img-circle" alt="">
    </div>
    <div class="col-md-10">
      <div class="h4 col-md-12"><%= proposal.item.name %></div>
      <div class="col-md-12"><%= proposal.description %></div>
      <span class="pull-right"><%= proposal.owner.name %> > <%= proposal.buyer.name %></span>
    </div>    
    
    </div>
    <% end %>
    </div>
  </div>

</div>
