<div class="container">
  <%= "<h4 class='center'>Não há items cadastrados no momento.</h4>".html_safe if @items.empty? || @items.nil? %>
  <% @items.each do |item| %>    
    <div class="card col-md-3">  
      <div class="item-card col-md-12">
          <%= link_to image_tag("http://placehold.it/200x200", class: "item-card-img"), item_url(item) %>  
        <div class="description col-md-12">
          <span class="item-name col-md-12"><%= item.name %></span>  
          <span class="item-place col-md-12"><%= icon('map-marker') + "  "+ item.place.name %></span>
        </div>
      
      </div>
    </div>
  <% end %>
</div>
