<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h2>Editar Anuncio</h2>
    </div>

    <%= render 'form' %>

    <%= link_to 'Voltar', :back %>
    
  </div>
</div>
