<div class="container">
  
  <div class="row">
    <div class="col-md-3">
      <img src="http://placehold.it/200x200" class="img" alt="">
      <div class="mapa">mapa</div>
    </div>
    <div class="col-md-9 item-details">
      <h4><%= @item.name %></h4>
      <span class="item-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, iusto sint perferendis odio fugit assumenda ut beatae deleniti et autem porro quasi pariatur hic fugiat sapiente recusandae natus eius nesciunt.
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 item-options pull-right">
      <a href="" class="btn btn-success pull-right">Achei</a>
    </div>
  </div>

</div>