/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$green: #6DA580;
$home_green: #009688;
$dark_green: #4C7251;
$black: #454851;
$white: #F0EEED;

body{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: $home_green;
}
.center{
  text-align: center;
}
.top-margin{  
  margin-top: 50px;
}
.page{
  background:#F0EEED;
}
.no-margin{
  margin-left: -15px;
  margin-right: -15px;
}

.card{
  padding:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-card{
  background: #FCFFF9;
  padding:0;
  position:relative;
  box-shadow: 0px 0px 2px $black;
}
.item-card-img{
  margin-right: -5px;
  max-height: 200px;
  width: 100%;
}

.description{
  padding-left:5px;
  padding-right:5px;
  padding-top:10px;
  &[data-category="achados"]{ 
    border-top:2px solid $green;
  }
  &.venda{ 
    border-top:2px solid orange;
  }
  &.aluguel{ 
    border-top:2px solid blue;
  }
  &.doacao{ 
    border-top:2px solid yellow;
  }
  margin-bottom: 10px;
  text-align: center;
  .item-name{
  }
  .item-place{
    .fa{
      color: $dark_green;
    }
    text-transform: uppercase;
  }
}

.img-full{

  width: 100%;
}
.container{
  margin-bottom: 30px;
}
.header {
  padding:0;
  h2 {
    color: #fff;
    margin-top: 15px;
    z-index: 2;
  }
}
.ap{
  background: $green;
}
.venda{
  background: #358DFF;
}
  
.item-details{
  padding-top:15px;
}

.item-actions{
  height: 100%;
  padding:5px;
  padding-top:15px;
  .h5{
    color: $black;
  }
}
.hide {
  display: none;
}
.navbar{
  background: $home_green;
  border:0;
  border-radius:0;
  margin:0;
  .navbar-brand{
    color: $white;
    font-family:Montserrat;
    text-transform: uppercase;
  }
  .navbar-nav li a {
    color: $white;
  }
}
.navbar-shadow{
  box-shadow: 0 0 3px #232323;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.category-wrap{
  
  .category{
    font-size: 2.2em;
    margin: 5px 5px;
    border-radius:2px;
    padding:50px 5px;
    border: 1px solid #dcdcdc;
    text-align: center;
    a{
      color: $white;
    }
  }
}
