<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="col-md-12 navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand">sistema blabl</a>
  </div>
  <ul class="nav nav-pills">
    <li><a href="">Achados&Perdidos</a></li>
    <li><a href="">Classificados</a></li>
    <li><a href="">Login</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
